@use "partials/utils" as u;

// Default button style
.button {
  display: inline-block;
  @include u.my(1rem);
  padding: 0.75rem 1.25rem;
  border-radius: 4px;

  background-color: var(--primary-700);
  color: var(--white);

  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.7px;

  transition: var(--transition);

  &:hover,
  &:active {
    color: var(--white);
    background-color: var(--tertiary-400);
  }
}

.button.secondary {
  background-color: var(--primary-400);
  &:hover,
  &:active {
    color: var(--white);
    background-color: var(--primary-500);
  }
}

.button.tertiary {
  background-color: var(--primary-500);
  &:hover {
    color: var(--white);
    background-color: var(--tertiary-400);
  }
  &:active {
    color: var(--black);
    background-color: var(--white);
  }
}

.button + .button {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
