@use "partials/vars" as *;
@use "partials/utils" as u;
@use "partials/ul-reset";

.footer {
  margin-top: 5rem; // Space from content
  @include u.py(4rem);

  background-color: var(--primary-800);
  color: var(--footer-link-color);

  @media (max-width: $mobile) {
    margin-top: 4rem;
    @include u.py(2rem);
  }

  hr {
    opacity: 0;
  }

  a {
    color: var(--footer-link-color);
    &:hover {
      color: var(--footer-link-color-hover);
    }
  }
  // Reset lists.
  ul {
    @extend .ul-reset;
    padding-inline-start: 0;
  }

  &__menu-cta-wrapper {
    @media (min-width: $desktop) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2rem;
    }
  }

  &__menu {
    flex-shrink: 0;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 200px));
    gap: 15px;

    a {
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;
    }
    .top-menu-item {
      font-size: 1rem;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 20px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__cta {
    @media (min-width: $desktop) {
      flex-grow: 0;
    }

    a {
      width: 100%;
      font-size: 1.5rem;
      text-transform: none;

      @media (min-width: $desktop) {
        width: max-content;
        margin: 0;
        margin-left: 20px;
      }
      @media (min-width: $desktop-width) {
        margin-left: 40px;
      }
    }
  }

  &__logo-social-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    display: block;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .logo {
    width: 12em;
    height: 6em;
    filter: drop-shadow(0 0 4px rgb(0 0 0 / 0.4))
  }

  .social-links {
    display: flex;
    @include u.flex-center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    @media (min-width: $desktop) {
      margin-top: 0;
    }

    a {
      display: flex;
      @include u.flex-center;
      padding: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .copyright {
    font-size: 0.9rem;
    letter-spacing: 0.2px;

    @media (min-width: $desktop) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    a {
      font-weight: 800;
      text-decoration: none;
    }

    &__accessibility-git-wrapper {
      @media (max-width: $mobile) {
        margin-top: 20px;

        a + a {
          border-left: 1px solid var(--white);
          padding-left: 10px;
        }

        a:first-of-type {
          margin-right: 10px;
        }
      }

      @media (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 80px;
        text-align: right;
      }
    }

    p {
      margin: 0;
    }
  }
}
