@use "partials/vars" as *;

// A miscellaneous grouping of native html elements

// Horizontal rule
hr {
 opacity: 0.25;
 color: var(--black);
 margin-top: 1rem;
 margin-bottom: 1rem;
}

// Responsive Images by default.
img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: var(--gray-800);
}

// Tables
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px var(--gray-400) solid;
  th {
    background-color: var(--gray-300);
    font-weight: 700;
  }
  th:first-child,
  td:first-child {
    border-top-left-radius: 12px;
  }
  td,
  th {
    padding: 21px 35px;
    text-align: left;
    overflow: hidden;
  }
  th:last-child,
  td:last-child {
    border-top-right-radius: 12px;
  }
  tr td {
    border-bottom: 1px var(--gray-400) solid;
  }
  td,
  th {
    &:not(:last-child) {
      border-right: 1px var(--gray-400) solid;
    }
  }
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  thead th:first-child,
  tbody td:first-child {
    min-width: 160px;
  }
}

// iframes
iframe {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
}

.responsive-iframe-wrapper {
  position: relative;
  padding-bottom: 66.66%; // 3:2 Aspect Ratio, 75% 4:3 Aspect Ratio, 56.25% 16:9 Aspect Ratio,
  height: 0;
  overflow: hidden;
  background-color: var(--gray-200);
  margin-top: 30px;
  margin-bottom: 30px;
  @media (min-width: $min-desktop) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.responsive-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
