@use "partials/vars" as *;
@use "partials/utils" as u;
@use "partials/ul-reset";

body {
  height: auto;
  max-width: 100%;
  background-color: var(--white);

  overscroll-behavior: none; // fixes menu off bottom of screen

  &.has-menu-active {
    // Stops background moving when menu is open
    overflow: hidden;
    height: 100%;
  }
}

.container {
  margin: auto;
  width: 100%;
  max-width: 85%;

  @media (min-width: $desktop-width) {
    max-width: var(--container-width);
  }

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.wrap {
  @include u.px(1rem);

  @media (min-width: 372px) {
    @include u.px(var(--gutter));
  }

  @media (min-width: $desktop-width) {
    @include u.px(0);
  }
}

.nowrap {
  white-space: nowrap;
}
