// Inline icons
h2 svg {
  vertical-align: text-bottom;
}

p svg {
  vertical-align: text-top;
  margin-right: 0.2em;
  color: var(--primary-700);

  &.circle {
    vertical-align: middle;
  }
}

svg.circle {
  height: 2em;
  width: 2em;
  margin-right: 0.4em;
  padding: 0.5em;

  border-radius: 100vw;
  background: var(--primary-400);
  color: var(--white);
}

footer .circle {
  border-radius: 100vw;
  background: var(--white);
  color: var(--black);
}
