// Responsive images by default
img {
  border-radius: 4px;
  max-width: 100%;
  margin: 0;
  height: auto;

  object-fit: cover;
  object-position: var(--focus-x, 50%) var(--focus-y, 50%);
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  p:has(img):has(+ figcaption) {
    margin-bottom: 0.5em;
  }
}

figcaption {
  font-size: 0.9rem;
  color: var(--gray-800);
  text-wrap: wrap;
}

.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: right;
}
