.pagination {
  display: flex;
  justify-content: center;

  border-radius: 4px;
  margin: 1.1rem 0;
  padding: 0;

  list-style: none;
}

.page-link {
  display: block;
  margin-left: -1px;
  padding: 0.75rem 1rem;

  line-height: 1.25;
  background-color: var(--white);

  @media (max-width: 420px) {
    padding: 0.75rem;
  }
}

.homepage .page-link,
.listing .page-link {
  background-color: var(--white);
}

.page-item {
  &.disabled .page-link {
    color: var(--gray-600);
    pointer-events: none;
    cursor: auto;
  }

  &.active .page-link {
    z-index: 1;
    color: var(--black);
    border: 1px solid var(--black);
  }
}
