@use "../abstracts/utils" as u;

.screen-reader-text,
.assistive-text,
.sr-text {
  @include u.visually-hidden;
}

.skip-link {
  @include u.visually-hidden;
  transition: none;

  &:focus {
    clip: auto !important;
    display: block;
    height: auto;
    width: auto;
    left: 5px;
    top: 5px;
    padding: 24px;
    color: transparent;
    z-index: 999999;
  }
}

// Do not show the outline on the skip link target
#maincontent[tabindex="-1"]:focus {
  outline: 0;
}
