@use "../abstracts/utils" as u;

.screen-reader-text,
.assistive-text,
.sr-text {
  @include u.visually-hidden;
}

.skip-link {
  transition: none;

  &:not(:focus) {
    @include u.visually-hidden;
  }

  &:focus {
    position: fixed;
    left: 5px;
    top: 5px;

    clip: auto !important;
    border-radius: var(--border-radius);
    padding: 0.5em;

    color: var(--link-color-hover);
    background-color: var(--white);

    z-index: 999999;
  }
}
