/* Define CSS variables */
:root {
  --heading-font: "Asap", "Oswald", "Impact", "Arial Black", sans-serif;
  --body-font: "Public Sans", "Libre Franklin", "Franklin Gothic", sans-serif;

  --condensed-font-family: var(--heading-font);
  --rounded-font-family: var(--body-font);

  --black: rgb(24, 30, 40);
  --white: rgb(248, 245, 240);

  --primary-400: #226a6a;
  --primary-500: #1a707a;
  --primary-600: #027480;
  --primary-700: #01556b;
  --primary-800: #022035;

  --secondary-400: #faedea;
  --tertiary-400: #bd3f5c;
  --tertiary-500: #9d3952;

  --gray-200: #eaecf0;
  --gray-300: #e5e5e5;
  --gray-400: #e4e4e4;
  --gray-600: #b1b1b1;
  --gray-700: #767676;
  --gray-800: #5f6367;

  --shadow: rgba(24, 30, 40, 0.2);

  --text-color: var(--black);
  --heading-color: var(--primary-400);
  --link-color: var(--primary-700);
  --link-color-hover: var(--tertiary-400);
  --menu-link-color: var(--black);
  --menu-link-color-hover: var(--tertiary-400);
  --footer-link-color: var(--white);
  --footer-link-color-hover: hsl(from var(--tertiary-400) h calc(s * 1.35) calc(l * 1.3));
  --gutter: 25px;
  --container-width: 1200px;
  --content-width: 920px;

  --border-radius: 6px;
  --transition: all 0.2s ease-in-out;
}
