/* Heading font */

/* asap-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Asap";
  font-style: normal;
  font-weight: 800;
  src:
    local("Asap Bold"),
    local("Asap-Bold"),
    url("/fonts/asap-v30-latin-800.woff2") format("woff2");
}

/* asap-800-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Asap";
  font-style: italic;
  font-weight: 800;
  src:
    local("Asap Bold Italic"),
    local("Asap-BoldItalic"),
    url("/fonts/asap-v30-latin-800italic.woff2") format("woff2");
}

/* Body font */

/* nunito-400 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local("Nunito Regular"),
    local("Nunito-Regular"),
    url("/fonts/nunito-v31-latin-regular.woff2") format("woff2");
}

/* nunito-400-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src:
    local("Nunito Italic"),
    local("Nunito-Italic"),
    url("/fonts/nunito-v31-latin-italic.woff2") format("woff2");
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src:
    local("Nunito Bold"),
    local("Nunito-Bold"),
    url("/fonts/nunito-v31-latin-700.woff2") format("woff2");
}

/* nunito-700-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src:
    local("Nunito Bold Italic"),
    local("Nunito-BoldItalic"),
    url("/fonts/nunito-v31-latin-700italic.woff2") format("woff2");
}
