@use "../abstracts/vars" as *;

// General rules of typography that apply across the whole website

// Set body size
body {
  font-family: var(--rounded-font-family);
  font-size: max(18px, 1.15rem);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-block: 4.5rem 3.5rem;
  font-size: 4rem;

  @media (min-width: $desktop) {
    font-size: 5rem;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--condensed-font-family);
  font-weight: 800;
}

h2, .h2,
h3, .h3 {
  color: var(--heading-color);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--rounded-font-family);
  font-weight: 700;
  color: var(--heading-color);
}

h1,
.h1 {
  font-size: 4rem;
  line-height: 115%;
  color: var(--primary-700);

  @media (max-width: $mobile) {
    line-height: 112.2%;
    font-size: 3rem;
  }
}

h2,
.h2 {
  margin-block: 50px 30px;

  font-size: 2.75rem;
  line-height: 115%;

  @media (max-width: $mobile) {
    font-size: 2.5rem;
    line-height: 120%;
  }
}

h3,
.h3 {
  margin-block: 40px 25px;

  font-size: 2rem;
  line-height: 150%;
  text-transform: none;

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  margin-block: 28px 18px;

  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 2.4px;

  @media (max-width: $mobile) {
    font-size: 1.25rem;
  }
}

h5,
.h5 {
  margin-block: 25px 16px;

  font-size: 1.25rem;
  letter-spacing: 0.8px;

  @media (max-width: $mobile) {
    font-size: 1rem;
  }
}

h6,
.h6 {
  margin-block: 20px 14px;

  font-size: 1rem;
  letter-spacing: 0.8px;

  @media (max-width: $mobile) {
    font-size: 0.75rem;
  }
}

p + p,
ul + p,
ol + p {
  margin-top: 1.5rem;
}

a {
  color: var(--link-color);
  transition: var(--transition);

  &:hover {
    color: var(--link-color-hover);
  }
}

li {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 4px solid var(--primary-400);
  padding: 4px 4px 4px 20px;

  font-size: 1rem;

  @media (min-width: $desktop-width) {
    margin: 50px 0;
  }

  @media (min-width: $min-desktop) {
    margin: 0 20px;
  }

  p {
    margin-block: 10px;
    font-style: italic;
  }
}

.highlight pre {
  padding: 1.25rem;
}
