@use "../abstracts/vars";

.breadcrumbs {
  margin-block: 5rem 0;

  + .title,
  + h1,
  + .h1 {
    margin-block: 2rem;
  }
}

.breadcrumbs-list {
  padding-inline-start: 0;
  list-style-image: none;
  list-style: none;
}

.breadcrumb {
  display: inline;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: var(--gray-800);
  }

  + .breadcrumb::before {
    content: "»";
    margin-inline: 0.5em;
    color: var(--gray-600);
  }
}
