@use "../abstracts/vars";

/**
 * Hamburger
 * The menu button on mobile.
 *
 * Based on Hamburgers by Jonathan Suh @jonsuh
 * SCSS-ified, variablified, spin mode default by James Hunt @thetwopct
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

$hamburger-color: var(--text-color);
$hamburger-active-color: var(--text-color);
$hamburger-padding-x: 0;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 26px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 3px;
$hamburger-z-index: 10;

.hamburger {
  border: 0;
  margin: 0;
  padding: $hamburger-padding-y $hamburger-padding-x;

  cursor: pointer;
  overflow: visible;
  z-index: $hamburger-z-index;
  background-color: transparent;

  @media (min-width: vars.$min-desktop) {
    display: none;
  }

  &.is-active .hamburger-inner {
    @media (prefers-reduced-motion: no-preference) {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        transition: top 0.1s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition:
          bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }

    &,
    &::before,
    &::after {
      background-color: $hamburger-active-color;
    }
  }
}

.hamburger-box {
  display: inline-block;
  position: relative;
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
}

.hamburger-inner {
  top: 50%;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &,
    &::before,
    &::after {
      transition: transform 0.15s ease;
      will-change: transform;
    }
    &::before {
      transition: top 0.1s 0.25s ease-in;
    }
    &::after {
      transition:
        bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &,
  &::before,
  &::after {
    left: 0;
    width: $hamburger-layer-width;
    height: 3px;
    background-color: $hamburger-color;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
