@use "../abstracts/vars" as *;

@media (prefers-reduced-motion: no-preference) {
  header.with-bg {
    h1,
    p {
      animation: 0.55s ease-in-out fade-in-down;
    }

    p {
      animation-delay: 0.1s;
      text-wrap: wrap;
    }
  }
}

header.with-bg {
  @media (min-width: $desktop) {
    h1 {
      max-width: 8em;
    }
    p {
      max-width: 60%;
    }
  }

  @media (max-width: $mobile) {
    p,
    .button {
      font-size: 1.1rem;
    }
  }

  h1 {
    margin-block-end: 0.25em;
    line-height: 95%;
  }
}

.introduction {
  display: flex;
  gap: 48px;
  justify-content: space-around;
  padding-block: 1rem 1.5rem;

  @media (max-width: 800px) {
    display: inline;

    .intro-text {
      margin-block-end: 2.5em;
    }
  }

  h2 {
    margin-block-start: 0;
  }

  .intro-text {
    flex-basis: 55%;
  }

  svg {
    background-color: var(--primary-700);
  }
  a {
    text-decoration: none;
  }
}
