<header class="header{{ if .Site.Params.sticky_header }} sticky{{ end }}">
<div class="container wrap">
  {{ with site.Params.logo_on_white }}
    <a class="logo-link" href="/">
      <img class="logo" width="150" height="40" src="{{ . }}" alt="{{ site.Title | safeHTMLAttr }}" />
    </a>
  {{ else }}
    <a class="site-title-link" href="/">
      <span class="site-title">{{ site.Title }}</span>
    </a>
  {{ end -}}

  {{- with site.Menus.main }}
  <nav id="main-menu" class="main-menu">
    <ul class="main-menu__wrapper">
      {{- range . }}
      <li class="top-menu-item">
        <a href="{{ .URL | relLangURL }}" class="menu-link">{{ .Name }}</a>

        {{- if .HasChildren }}
        <ul class="sub-menu">
          {{ range .Children }}
          <li class="menu-item">
            <a href="{{ .URL | relLangURL }}" class="menu-link">
              <span class="menu-item__name">{{ .Name }}</span>
              {{ if .Post }}
              <span class="menu-item__description">{{ .Post }}</span>
              {{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end -}}

      </li>
      {{ end -}}
    </ul>

    {{- with site.Params.main_cta }}
    <a href="{{ .link | relLangURL }}" class="button main-menu-cta">{{ .text }}</a>
    {{ end }}
  </nav>
  <button id="hamburger" class="hamburger" type="button" aria-label="Toggle Menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  {{ end }}
</div>
</header>
