@use "../abstracts/utils" as u;
@use "../abstracts/vars" as *;

header.with-bg {
  position: relative;
  max-width: 100%;

  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;

  padding: min(10vw, 3.5rem) 6rem;
  margin: 1.5rem 0 5rem;
  border-radius: 8px;

  @media (min-width: $desktop) {
    h1 {
      max-width: 70%;
    }
    p {
      max-width: 50%;
    }
  }

  @media (max-width: $mobile) {
    padding-inline: 1.5rem;
  }

  h1,
  p,
  .breadcrumbs {
    position: relative;
    color: var(--white);
  }

  .breadcrumb a {
    @extend .breadcrumbs;

    &:hover {
      color: var(--gray-600);
    }
  }

  h1 {
    font-size: 5.5rem;

    @media (max-width: $mobile) {
      font-size: 4rem;
    }

    // Underline certain words
    em {
      font-style: normal;
      text-decoration: 0.06em underline solid var(--primary-400);
    }
  }

  p {
    font-size: 1.25rem;
    animation-delay: 0.1s;
    text-wrap: balance;
  }

  // Color overlay
  &::before {
    content: "";
    @include u.overlay;

    background-color: var(--primary-800);
    opacity: 0.75;
  }
}

// Specific rules to page content
.content {
  > * {
    max-width: var(--content-width);
  }

  .full-width,
  iframe {
    width: 100%;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  // Code block restriction
  div.highlight {
    max-width: var(--content-width);
  }

  // Stops links pushing out container
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  // Fixes nested UL spacing - see TOC
  ul ul {
    margin-top: 1rem;
  }
}

section {
  margin-block: 2.5rem;
}
