@use "../abstracts/utils" as u;
@use "../abstracts/vars" as *;

header.with-bg {
  position: relative;

  margin: 1.5rem auto 5rem;
  padding: min(10vw, 3.5rem) 6rem;
  border-radius: calc(var(--border-radius) * 2);

  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;

  box-shadow: inset 0 0 16px 4px var(--shadow);

  @media (min-width: $desktop) {
    // Keep text at the left of the banner
    h1 {
      max-width: 70%;
    }
    p {
      max-width: 50%;
    }
  }

  @media (max-width: $mobile) {
    padding-inline: 1.5rem;
  }

  h1,
  p,
  .breadcrumbs {
    position: relative; // appear above the overlay
    color: var(--white);
  }

  .breadcrumb a {
    color: var(--white);

    &:focus,
    &:hover {
      color: var(--gray-600);
    }
  }

  h1 {
    font-size: 5.5rem;

    @media (max-width: $mobile) {
      font-size: 4rem;
    }

    // Underline certain words
    em {
      font-style: normal;
      text-decoration: 0.06em underline solid var(--primary-400);
    }
  }

  p {
    font-size: 1.2rem;
    text-wrap: balance;
  }

  // Color overlay
  &::before {
    content: "";
    @include u.overlay;

    background: linear-gradient(
      to left top,
      var(--primary-800),
      75%,
      hsl(from var(--primary-800) calc(h - 5) calc(s * 1.75) calc(l * 0.6))
    );
    opacity: 0.75;
  }
}

// Specific rules to page content
.content {
  > * {
    margin-inline: auto;
    max-width: var(--content-width);
  }

  .full-width,
  iframe {
    width: 100%;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  // Code block restriction
  .highlight {
    max-width: var(--content-width);
  }

  // Stops links pushing out container
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  // Fixes nested UL spacing - see TOC
  ul ul {
    margin-top: 1rem;
  }
}

section {
  margin-block: 2.5rem;
}
