@use "../abstracts/vars" as *;
@use "../abstracts/utils" as u;
@use "../components/ul-reset";

.footer {
  margin-top: 5rem; // Space from content
  padding-block: 4rem;

  background-color: var(--primary-800);
  color: var(--footer-link-color);

  @media (max-width: $mobile) {
    margin-top: 4rem;
    padding-block: 2rem;
  }

  a {
    color: var(--footer-link-color);

    &:focus,
    &:hover {
      color: var(--footer-link-color-hover);
    }
  }

  // Reset lists
  ul {
    @extend .ul-reset;
    padding-inline-start: 0;
  }

  .logo-link {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .logo {
    width: 12em;
    height: 6em;
    filter: drop-shadow(0 0 4px rgb(0 0 0 / 0.4));
  }

  .social-links {
    display: flex;
    @include u.flex-center;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: $mobile) {
      margin-top: 1rem;
    }

    a {
      display: flex;
      @include u.flex-center;
      padding: 10px;
    }
  }

  .copyright {
    margin-block: 0;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
  }
}

.footer__menu-cta-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
}

.footer__menu {
  flex-shrink: 0;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 200px));
  gap: 0.75em;

  a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

  .top-menu-item {
    margin-block: 0 1.25em;
    font-size: 1rem;
    font-weight: 800;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.footer__cta {
  flex-grow: 0;

  a {
    width: 100%;
    font-size: 1.5rem;
    text-transform: none;

    @media (min-width: $desktop) {
      width: max-content;
      margin: 0;
    }
  }
}

.footer__logo-social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
