@use "../abstracts/vars" as *;
@use "../components/ul-reset";

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--white);
  overscroll-behavior: none; // fixes menu off bottom of screen
}

.container {
  margin: auto;
  max-width: var(--container-width);

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.wrap {
  @media (min-width: 372px) {
    padding-inline: var(--gutter);
  }

  @media (max-width: $mobile) {
    padding-inline: 1rem;
  }
}

.nowrap {
  white-space: nowrap;
}
