@use "../partials/utils" as u;

.cards {
  display: grid;
  row-gap: 2rem;
  column-gap: 3%;
  grid-template-columns: repeat(12, 1fr);
  @include u.my(2.5rem);
}

.card {
  $pad-y: 2.5em;
  $pad-x: 1.5em;

  padding: $pad-y $pad-x;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

  &:has(img) p:not(:has(img)) {
    font-size: 1.05rem;
  }

  // Have the image counteract the card's padding
  img {
    margin-top: -$pad-y;
    margin-left: -$pad-x;

    min-width: calc(100% + (2 * $pad-x));
    height: 16rem;
  }

  h2,
  h3 {
    margin-block-start: 0;
    margin-block-end: 1.5rem;
  }

  .button {
    @include u.my(0);
  }

  p:has(img) {
    margin-top: 0;

    &:has(+ figcaption) {
      margin-bottom: 0.1em;
    }
  }

  figcaption {
    margin-right: -$pad-x * 0.5;
    text-align: right;
    font-size: 0.7rem;
  }
}

// A wrapper class to alternate cards between colors
.alt-cards {
  .card:nth-child(2n+1) {
    background-color: var(--primary-500);
    color: var(--white);

    h2, h3, h4, h5, h6 {
      color: inherit;
    }

    .button {
      background-color: var(--secondary-400);
      color: var(--black);

      &:hover, &:active {
        color: var(--tertiary-400);
      }
    }
  }

  .card:nth-child(2n) {
    background-color: var(--secondary-400);

    h2, .h2,
    h3, .h3 {
      color: var(--primary-500);
    }
  }
}
