@use "../partials/vars";
@use "../partials/utils" as u;

.lite-youtube-fallback {
  aspect-ratio: 16 / 9;
  /* matches YouTube player */
  display: flex;
  flex-direction: column;
  @include u.flex-center;
  gap: 1em;

  padding: 1em;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;


  /* right-facing triangle "Play" icon */
  &::before {
    content: "";
    display: block;
    border: solid transparent;
    border-width: 2em 0 2em 3em;
    border-left-color: red;
  }

  &:hover::before {
    border-left-color: var(--white);
  }

  &:focus {
    outline: 2px solid red;
  }
}

.lite-youtube {
  margin-block: 2rem;

  @media (min-width: vars.$desktop) {
    margin-block: 4rem;
  }

  + .lite-youtube {
    margin-block-start: 0;
  }
}
